[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-toolbelt = "*"
requests-html = "*"
requests = "*"
qrcode = "*"
arrow = "*"
redis = "*"
PyYAML = "*"
pika = "*"
aiohttp = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.6"
